
.idea/.idea.Portfolio v2.dir/.idea/indexLayout.xml
.idea/.idea.Portfolio v2.dir/.idea/encodings.xml
.idea/.idea.Portfolio.dir/.idea/encodings.xml
.idea/.idea.Portfolio.dir/.idea/workspace.xml
.idea/.idea.Portfolio.dir/.idea/vcs.xml
.idea/.idea.Portfolio.dir/.idea/projectSettingsUpdater.xml
.idea/.idea.Portfolio.dir/.idea/indexLayout.xml
.idea/.idea.Portfolio.dir/.idea/inspectionProfiles/Project_Default.xml
