body {
    background-color: #1e1e1e !important;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #74b9f6 !important;
}

.bg-primary {
    background-color: #282828 !important;
}

.bg-secondary {
    background-color: #4b4b4b !important;
}

.text-primary {
    color: #afdcff !important;
}

.text-header {
    color: #d66af6 !important;
}

.text-indent {
    text-indent: 75px;
}

.height-95 {
    height: 95%;
}

