body {
    background-color: #1e1e1e !important;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

input {
    width: 100%;
    height: auto;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

a:hover {
    color: #74b9f6 !important;
}

.anchor {
    scroll-margin-top: 150px;
}

.bg-primary {
    background-color: #282828 !important;
}

.bg-secondary {
    background-color: #4b4b4b !important;
}

.bg-tertiary {
    background-color: rgba(10, 10, 10, 75%);
}

.text-primary {
    color: #afdcff !important;
}

.text-secondary {
    color: #ffffff !important;
}

.text-header {
    color: #d66af6 !important;
}

.text-indent {
    text-indent: 50px;
}

.underline {
    text-decoration: underline;
}

.underline-header {
    text-decoration-color: #d66af6 !important; 
}

.underline-primary {
    text-decoration-color: #afdcff !important;
}

.underline-secondary {
    text-decoration-color: #ffffff !important;
}

.border-right {
    border-right: solid;
}

.border-left {
    border-left: solid;
}

.border-primary {
    border-color: #ffffff !important;
}

.border-secondary {
    border-color: #afdcff !important;
}

.height-95 {
    height: 95%;
}